.container
    @apply flex flex-col
    .table
        &_date
            width: 150px
        &_firm
            width: 250px
        &_amount
            width: 100px
        &_link
            width: 100px
