@import '../Variables.module'

.page_wrapper
    top: 0
    bottom: 400px
    left: 0
    right: 0
    background: rgba(0,0,0,0.0)
    visibility: hidden
    transition: background 1s ease, visibility 1s ease
    @apply fixed
    .empty_field_close_div
        @apply w-full h-full
.container
    background-color: $secondary-background-color
    height: 400px
    right: 0
    bottom: 0
    left: 0
    color: #fff
    transform: translateY(400px)
    transition: transform 1s ease
    z-index: 99
    @apply fixed flex flex-col px-8 py-4
    &_header
        @apply flex flex-row justify-between align-middle px-2
        h1
            font-size: 1.5rem
            @apply font-bold
        .close_icon
            @apply cursor-pointer
            &:hover
                opacity: 0.5
    .formGroupContainer
        color: #000
        @apply flex flex-row w-full
        label
            color: #fff
            font-weight: bold
        &_inner
            @apply inline w-2/4 p-2 align-middle justify-center
        input, select
            @apply inline w-full border-2 border-gray-200 rounded-lg px-4 py-2 mt-1
.open
    transform: translateY(0)
    transition: transform 1s ease
.show
    visibility: visible
    background: rgba(0,0,0,0.5)
    transition: background 1s ease, visibility 1s ease
